<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.lisahoroscopeapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Lisahoroscopeapp</name>
  <description>An awesome Ionic/Cordova app.</description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <icon src="resources/android/icon/ic_launcher-ldpi.png" density="ldpi"/>
    <icon src="resources/android/icon/ic_launcher-mdpi.png" density="mdpi"/>
    <icon src="resources/android/icon/ic_launcher-hdpi.png" density="hdpi"/>
    <icon src="resources/android/icon/ic_launcher-xhdpi.png" density="xhdpi"/>
    <icon src="resources/android/icon/ic_launcher-xxhdpi.png" density="xxhdpi"/>
    <icon src="resources/android/icon/ic_launcher-xxxhdpi.png" density="xxxhdpi"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <icon src="resources/ios/icon/Icon-App-57x57@1x.png" width="57" height="57"/>
    <icon src="resources/ios/icon/Icon-App-57x57@2x.png" width="114" height="114"/>
    <icon src="resources/ios/icon/Icon-App-40x40@1x.png" width="40" height="40"/>
    <icon src="resources/ios/icon/Icon-App-40x40@2x.png" width="80" height="80"/>
    <icon src="resources/ios/icon/Icon-App-40x40@3x.png" width="120" height="120"/>
    <icon src="resources/ios/icon/Icon-Small-50x50@1x.png" width="50" height="50"/>
    <icon src="resources/ios/icon/Icon-Small-50x50@2x.png" width="100" height="100"/>
    <icon src="resources/ios/icon/Icon-App-60x60@1x.png" width="60" height="60"/>
    <icon src="resources/ios/icon/Icon-App-60x60@2x.png" width="120" height="120"/>
    <icon src="resources/ios/icon/Icon-App-60x60@3x.png" width="180" height="180"/>
    <icon src="resources/ios/icon/Icon-App-72x72@1x.png" width="72" height="72"/>
    <icon src="resources/ios/icon/Icon-App-72x72@2x.png" width="144" height="144"/>
    <icon src="resources/ios/icon/Icon-App-76x76@1x.png" width="76" height="76"/>
    <icon src="resources/ios/icon/Icon-App-76x76@2x.png" width="152" height="152"/>
    <icon src="resources/ios/icon/Icon-App-83.5x83.5@2x.png" width="167" height="167"/>
    <icon src="resources/ios/icon/Icon-App-29x29@1x.png" width="29" height="29"/>
    <icon src="resources/ios/icon/Icon-App-29x29@2x.png" width="58" height="58"/>
    <icon src="resources/ios/icon/Icon-App-29x29@3x.png" width="87" height="87"/>
  </platform>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <preference name="FadeSplashScreenDuration" value="300"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
    <variable name="APP_ID" value="1333155163379937"/>
    <variable name="APP_NAME" value="LisaguruHoroscopeApp"/>
  </plugin>
  <plugin name="cordova-sqlite-storage" spec="~2.0.0"/>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
</widget>