page-horoscope {

}

//Zodiac
.header-wrapper {
background: rgba(0, 0, 0, 0.2);
  .zodiac-single {
    padding: 16px;
    float: right;
    img {
      height: 20vh;
    }
  }
  .title {
    padding: 16px;
    color: #fff;
  }
}

//Content
.pink-title {
  color: $pink-color;
  font-size: x-large;
  padding-left: 10px;
}

.content-wrapper {
  color: #fff;
}

.content-section {
  border-bottom: 1px solid #000;
}
